body {
	background-color: white;
	color: black;
}

h1 {
	font-size: 20px;
}

p {
	font-size: 12px;
	color: black;
}

div {
	border-style: solid;
	border-width: 2px;
}

.div {
	width: 100px;
	height: 100px;
}
